# ALR - Any Linux Repository
# Copyright (C) 2025 Евгений Храмов
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.

repos:
  - repo: local
    hooks:
      - id: test-coverage
        name: Run test coverage
        entry: make test-coverage
        language: system
        pass_filenames: false

      - id: fmt
        name: Format code
        entry: make fmt
        language: system
        pass_filenames: false

      - id: update-license
        name: Update license
        entry: make update-license
        language: system
        pass_filenames: false

      - id: i18n
        name: Update i18n
        entry: make i18n
        language: system
        pass_filenames: false